[core]
	editor = nvim
	pager = delta
	autocrlf = input
	whitespace = -indent-with-non-tab,trailing-space,cr-at-eol

[user]
	name = r4ppz
	email = johnreyrabosa.f@gmail.com
	signingKey = ~/.ssh/id_ed25519.pub

[gpg]
	format = ssh

[init]
	defaultBranch = main

[column]
	ui = auto

[tag]
	gpgSign = true
	sort = version:refname

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[pull]
	rebase = true

[rebase]
	updateRefs = true

[commit]
	verbose = true
	gpgsign = true

[branch]
	sort = -committerdate

[fetch]
	prune = true
	pruneTags = true
	all = true

[diff]
	tool = nvimdiff
	context = 3

[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
	tool = nvimdiff
	conflictStyle = zdiff3

[mergetool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd J'"

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	side-by-side = false
	hyperlinks = true
	blame-code-style = syntax

[delta "lazygit-theme"]
    dark = true
    file-style = omit
    width = -2
    syntax-theme = gruvbox-dark
    plus-style = syntax "#002800"

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[help]
	autocorrect = prompt

[rerere]
	enabled = true
	autoupdate = true
