.close-button {
  /* The notification Close Button */
  background: #4E4E4E;
  color: #EBDBB2;
  text-shadow: none;
  padding: 0;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  box-shadow: none;
  border: none;
  min-width: 20px;
  min-height: 20px;
}

.close-button:hover {
  box-shadow: none;
  background: #5E5E5E;
  transition: background 0.15s ease-in-out;
  border: none;
}

.notification-row {
  background: none;
  outline: none;
}

.notification-row:focus {
  background: #282828
}

.notification-row .notification-background {
  margin: 0px -6px 0px 0px;
}

.notification-row .notification-background .notification {
  /* The actual notification */
  border-radius: 2px;
  border: 1px solid #504945;
  transition: background 0.15s ease-in-out;
  background: #282828;
  padding: 2px 4px;
}

.notification-row .notification-background .notification.low {
  background: #282828;
  border-left: 3px solid #EBDBB2;
  padding: 2px 4px;
}

.notification-row .notification-background .notification.normal {
  background: #282828;
  border-left: 3px solid #83A598;
  padding: 2px 4px;
}

.notification-row .notification-background .notification.critical {
  background: #282828;
  border-left: 3px solid #FB4934;
  padding: 2px 4px;
}

.notification-row .notification-background .notification .notification-default-action {
  /* The large action that also displays the notification summary and body */
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  color: #EBDBB2;
  transition: background 0.15s ease-in-out;
  border-radius: 2px;
}

.notification-row .notification-background .notification .notification-default-action:hover {
  -gtk-icon-filter: none;
  background: #282828;
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  /* When alternative actions are visible */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: 2px;
  padding: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  -gtk-icon-filter: none;
  -gtk-icon-size: 25px;
  border-radius: 50px;
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-filter: none;
  -gtk-icon-size: calc(25px / 3);
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box label {
  /* Fixes base GTK 4 CSS setting a filter of opacity 50% for some odd reason */
  filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: 10px;
  font-weight: bold;
  background: transparent;
  color: #EBDBB2;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  /* Notification time-ago */
  font-size: 10px;
  font-weight: bold;
  background: transparent;
  color: #EBDBB2;
  text-shadow: none;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: 10px;
  font-weight: normal;
  background: transparent;
  color: #EBDBB2;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  /* The optional notification progress bar */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  /* The "extra" optional bottom notification image */
  margin-top: 4px;
  background-color: white;
  -gtk-icon-filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  /* The inline reply section */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: #262626;
  color: #EBDBB2;
  caret-color: #EBDBB2;
  border: 1px solid #504945;
  border-radius: 2px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: rgb(48, 48, 48);
  border: 1px solid #504945;
  border-radius: 2px;
  color: #EBDBB2;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  background: initial;
  color: rgb(150, 150, 150);
  border: 1px solid #504945;
  border-color: transparent;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: #383838;
}

.notification-row .notification-background .notification .notification-alt-actions {
  background: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 4px;
}

.notification-row .notification-background .notification .notification-action {
  /* The alternative actions below the default action */
  margin: 4px;
  padding: 0;
  font-size: 10px;
}

.notification-row .notification-background .notification .notification-action>button {
  border-radius: 2px;
  font-size: 10px;
  padding: 1px;
}

.notification-group {
  /* Styling only for Grouped Notifications */
  transition: opacity 200ms ease-in-out;
}

.notification-group:focus {
  background: #282828;
}

/* .notification-group.low {
  /* Low Priority Group
} */

/* .notification-group.normal {
  /* Low Priority Group 
} */

/* .notification-group.critical {
  /* Low Priority Group
} */

.notification-group .notification-group-close-button .close-button {
  margin: 12px 20px;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  margin: 0 16px;
  color: #EBDBB2;
}

.notification-group .notification-group-headers {
  font-size: 10px;
  width: 10px;
  height: 10px;
}

.notification-group .notification-group-headers .notification-group-icon {
  color: #EBDBB2;
  -gtk-icon-size: 17px;
  font-size: 12px;
}

.notification-group .notification-group-headers .notification-group-header {
  font-size: 12px;
  color: #EBDBB2;
}

/* .notification-group .notification-group-buttons {}
.notification-group.collapsed {} */

.notification-group.collapsed.not-expanded {
  opacity: 1.0;
}

.notification-group.collapsed .notification-row .notification {
  background-color: #303030;
}

/* .notification-group.collapsed .notification-row:not(:last-child) {
  /* Top notification in stack */
/* Set lower stacked notifications opacity to 0
} */

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 1.0;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background-color: #383838;
}

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  background: #282828;
  color: #EBDBB2;
  border-radius: 2px;
  border: 1px solid #504945;
}

.control-center .control-center-list-placeholder {
  /* The placeholder when there are no notifications */
  opacity: 1.0;
}

.control-center .control-center-list {
  /* List of notifications */
  background: transparent;
}

/* .control-center .control-center-list .notification {
  box-shadow: 0 0 0 1px rgb(0, 0, 0), 0 1px 3px 1px rgb(0, 0, 0), 0 2px 6px 2px rgb(0, 0, 0);
} */

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: opacity 400ms ease-in-out, background 0.15s ease-in-out;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: #383838;
}

.blank-window {
  /* Window behind control center and on all other monitors */
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
}

/*** Widgets ***/
/* Title widget */
.widget-title>label {
  margin: 8px;
  font-weight: 700;
  font-size: 12px;
}

.widget-title>button {
  margin: 8px;
  border-radius: 2px;
  font-size: 10px;
  background: #282828;
  border: 1px solid #5C554A;
  padding: 3px 10px;
  color: #EBDBB2;
  font-weight: 700;

}

/* DND widget */
.widget-dnd label {
  color: #EBDBB2;
  margin: 8px;
  font-size: 10px;
}

.widget-dnd switch {
  border-radius: 2px;
  margin: 8px;
}

.widget-dnd switch slider {
  border-radius: 2px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}

.widget-label>label {
  font-size: 10px;
}

/* Mpris widget */
.widget-mpris {
  margin: 5px;
  /* The parent to all players */
}

.widget-mpris .widget-mpris-player {
  margin: 16px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.widget-mpris .widget-mpris-player .mpris-background {
  filter: blur(10px);
}

.widget-mpris .widget-mpris-player .mpris-overlay {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.55);
}

.widget-mpris .widget-mpris-player .mpris-overlay button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  background: #383838;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  -gtk-icon-size: 50px;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-title {
  font-weight: bold;
  font-size: 10px;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-subtitle {
  font-size: 10px;
}

/* .widget-mpris .widget-mpris-player .mpris-overlay > box > button {
} */

.widget-mpris .widget-mpris-player .mpris-overlay>box>button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* .widget-mpris > box > button {
}

.widget-mpris > box > button:disabled {
} */

/* Buttons widget */
.widget-buttons-grid {
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
}

.widget-buttons-grid flowboxchild>button {
  border-radius: 2px;
}

/* .widget-buttons-grid flowboxchild > button.toggle:checked {
} */

/* Menubar widget */
/* .widget-menubar {
  /* The revealer buttons */
/* .AnyName { Name defined in config after #
     background-color: rgb(48, 48, 48);
     padding: 8px;
     margin: 8px;
     border-radius: 12px;
   }

   .AnyName>button {
     background: transparent;
     border: none;
   }

   .AnyName>button:hover {
     background-color: #383838;
   }
}

.widget-menubar > .menu-button-bar {
  /* The left button container */
/* The right button container */
/* The left and right button container
} */

.widget-menubar>.menu-button-bar>.start {
  margin-left: 8px;
}

.widget-menubar>.menu-button-bar>.end {
  margin-right: 8px;
}

.widget-menubar>.menu-button-bar>.widget-menubar-container button {
  border-radius: 2px;
  margin: 0 4px;
}

.widget-menubar>revealer {
  margin-top: 8px;
}

.widget-menubar>revealer button {
  border-radius: 2px;
  margin: 8px;
  margin-top: 0;
}

/* Volume widget */
.widget-volume {
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
}

/* Each row app icon */
.widget-volume row image {
  -gtk-icon-size: 24px;
}

.per-app-volume {
  background-color: #262626;
  /* Using noti-bg-darker value */
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
  border-radius: 2px;
}

/* Slider widget */
.widget-slider {
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
}

.widget-slider label {
  font-size: inherit;
}

/* Backlight widget */
.widget-backlight {
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
}

/* Inhibitors widget */
.widget-inhibitors>label {
  margin: 8px;
  font-size: 10px;
}

.widget-inhibitors>button {
  margin: 8px;
  border-radius: 2px;
}