[submodule "nvim"]
	path = nvim
  ; url = https://github.com/r4ppz/nvZzz.git
	url = git@github.com:r4ppz/nvZzz.git

; Use HTTPS of you're not me :>

; To initialize the submodule after cloning:
; > git submodule update --init --recursive
