[Unit]
Description=Start tmux session

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -Ad -s main
ExecStop=/usr/bin/tmux kill-session -t main

[Install]
WantedBy=default.target

