[Unit]
Description=Start tmux session 'main'
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tmux new-session -d -s main
RemainAfterExit=true

[Install]
WantedBy=default.target
