configuration {
    show-icons: false;
}

/*****----- Global Properties -----*****/
@import "~/.config/rofi/shared/font.rasi"
* {
    background:      #282828FF;
    background-alt:  #353535FF;
    foreground:      #EBDBB2FF;
    selected:        #504945FF;
    active:          #B8BB26FF;
    urgent:          #FB4934FF;
}

/*****----- Window -----*****/
window {
    location: center;
    anchor: center;
    fullscreen: false;
    width: 25%;
    border: 2px;
    border-radius: 2px;
    padding: 10px;
    border-color: @selected;
    background-color: @background;
}

/*****----- Main Box -----*****/
mainbox {
    spacing: 10px;
    padding: 10px;
    background-color: transparent;
    orientation: vertical;
    children: [ "inputbar" ];
}

/*****----- Input Bar -----*****/
inputbar {
    spacing: 10px;
    background-color: @background-alt;
    border-radius: 2px;
    padding: 8px 12px;
    children: [ "entry" ];
}

entry {
    background-color: inherit;
    text-color: @foreground;
    placeholder: "Search...";
    placeholder-color: #A89984FF; /* kept consistent with Gruvbox palette */
}

